:root {
  --font-color: #562898;
  --link-color: #e32ed4;
  --hover-color: #3532ef;
  --littleMargin: 0.5rem;
  --gray-color: #828282;
  --padding: 0.5rem;
  --border-radius: 0.25rem;
  --btn-padding: 0.35rem 1.5rem;
  --font-size: 1.1rem;
}